@charset "UTF-8";

.login_before ul {
	display: flex;
	justify-content: right;
	list-style: none;
	font-size: 10px;
}

.login_before li {
	color: red;
	margin-right: 10px;
}

.login_after ul {
	display: flex;
	justify-content: right;
	list-style: none;
	font-size: 10px;
}

.login_after li {
	color: black;
	margin-right: 5px;
}