@charset "UTF-8";

form {
	margin-top: 100px;
	border: 1px solid lightgray;
}

ol {
	list-style: none;
}

ol li {
	margin-right: 50px;
}

button[type=submit] {
	margin-bottom: 20px;
}

/* input type number hide arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
	width: 80px;
}

.wantType {
	display: flex;
	justify-content: center;
}

.informations {
	align-items: center;
}

.information {
	width: 450px;
	height: 30px;
	margin: auto;
	margin-bottom: 30px;
	flex: float;
}

.information-except {
	width: 450px;
	height: 30px;
	margin: auto;
	flex: float;
}

.information-except2 {
	width: 450px;
	height: 150px;
	margin: auto;
	margin-bottom: 30px;
	flex: float;
}

.information-left {
	float: left;
}

.information-right {
	float: right;
}

.information-right-except {
	float: right;
}

.sample4_postcode {
	width: 100px;
}

.information-right input[name=userId], input[name=passwd], input[name=checkPasswd] {
	width: 173px;
}

.information-right-except input[type=text] {
	width: 208px;
	margin-bottom: 5px;
}

.checkIdResult {
	width: 250px;
	border: none;
}

.checkIdResult:focus {
	outline: none;
}

.passwdSameCheck {
	width: 173px;
	border: none;
}

.passwdSameCheck:focus {
	outline: none;
}







